version: "3.8"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: rpu
      POSTGRES_PASSWORD: rpu
      POSTGRES_DB: rpu_app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
